<div>
  <h2 id="page-heading" data-cy="AnnonceHeading">
    <span>Annonces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annonce"
        [routerLink]="['/annonce/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Annonce </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="annonces?.length === 0">
    <span>No annonces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="annonces && annonces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="titre"><span>Titre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ville"><span>Ville</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etat"><span>Etat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateAnnonce"><span>Date Annonce</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="categorie.title"><span>Categorie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.login"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let annonce of annonces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/annonce', annonce.id, 'view']">{{ annonce.id }}</a>
          </td>
          <td>{{ annonce.titre }}</td>
          <td>{{ annonce.description }}</td>
          <td>{{ annonce.ville }}</td>
          <td>{{ annonce.type }}</td>
          <td>{{ annonce.etat }}</td>
          <td>{{ annonce.dateAnnonce | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="annonce.categorie">
              <a [routerLink]="['/categorie', annonce.categorie?.id, 'view']">{{ annonce.categorie?.title }}</a>
            </div>
          </td>
          <td>
            {{ annonce.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/annonce', annonce.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/annonce', annonce.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(annonce)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
