<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="annonce">
      <h2 data-cy="annonceDetailsHeading"><span>Annonce</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ annonce.id }}</span>
        </dd>
        <dt><span>Titre</span></dt>
        <dd>
          <span>{{ annonce.titre }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ annonce.description }}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
          <span>{{ annonce.ville }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ annonce.type }}</span>
        </dd>
        <dt><span>Etat</span></dt>
        <dd>
          <span>{{ annonce.etat }}</span>
        </dd>
        <dt><span>Date Annonce</span></dt>
        <dd>
          <span>{{ annonce.dateAnnonce | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Categorie</span></dt>
        <dd>
          <div *ngIf="annonce.categorie">
            <a [routerLink]="['/categorie', annonce.categorie?.id, 'view']">{{ annonce.categorie?.title }}</a>
          </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ annonce.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/annonce', annonce.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
