<h1 class="display-4">Welcome, Lost and found</h1>

<!--<p class="lead">This is your homepage</p>-->

<div [ngSwitch]="isAuthenticated()">
  <div class="alert alert-success" *ngSwitchCase="true">
    <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
  </div>

  <section class="cat_product_area section_gap">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-9">
          <div class="product_top_bar">
            <div class="left_dorp">
              <input
                type="search"
                (ngModelChange)="searchAnnonces(key.value)"
                #key="ngModel"
                ngModel
                name="key"
                id="searchName"
                class="form-control mr-sm-2"
                placeholder="Search employees..."
              />
              <select class="sorting">
                <option value="1">Default sorting</option>
                <option value="2">Default sorting 01</option>
                <option value="4">Default sorting 02</option>
              </select>
              <select class="show">
                <option value="1">Show 12</option>
                <option value="2">Show 14</option>
                <option value="4">Show 16</option>
              </select>
            </div>
          </div>

          <div class="latest_product_inner">
            <div class="row">
              <div *ngFor="let annonce of annonces" class="col-lg-4 col-md-6">
                <jhi-annonce-item [annonce]="annonce"></jhi-annonce-item>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="left_sidebar_area">
            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Browse Categories</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list">
                  <li>
                    <a href="#">Papier</a>
                  </li>
                  <li>
                    <a href="#">Clé</a>
                  </li>
                  <li>
                    <a href="#">Animal</a>
                  </li>
                  <li>
                    <a href="#">Accessoires</a>
                  </li>
                  <li>
                    <a href="#">Document</a>
                  </li>
                  <li>
                    <a href="#">Vetement</a>
                  </li>
                  <li>
                    <a href="#">Other</a>
                  </li>
                </ul>
              </div>
            </aside>

            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Villes</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list">
                  <li>
                    <a href="#">Sousse</a>
                  </li>
                  <li>
                    <a href="#">Tunisie</a>
                  </li>
                  <li class="active">
                    <a href="#">Sfax</a>
                  </li>
                  <li>
                    <a href="#">Monastir</a>
                  </li>
                  <li>
                    <a href="#">Mahdia</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--      <div class="alert alert-warning" *ngSwitchCase="false">-->
  <!--        <span>If you want to </span>-->
  <!--        <a class="alert-link" (click)="login()">sign in</a-->
  <!--        ><span-->
  <!--          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and-->
  <!--          password="user").</span-->
  <!--        >-->
  <!--      </div>-->

  <!--  <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>-->
  <!--
    <p>If you have any question on JHipster:</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer"> homepage</a></li>
      <li>
        <a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a>
      </li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow @jhipster on Twitter</a></li>
    </ul>

    <p>
      <span>If you like JHipster, don't forget to give us a star on</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
    </p>-->
</div>
